<Layouts.app flash={@flash}>
<div>
  <div class="flex items-center justify-between gap-x-3">
    <h2 class="text-lg font-semibold leading-8 tracking-tight text-gray-200">New District</h2>
    <.button navigate={~p"/districts"}>Back</.button>
  </div>
</div>
</Layouts.app>